body {
    display: flex;
    flex-direction: column;
}

body, div, p, h1, h2, h3, h4 input, button {
    margin: 0px;
    padding: 0px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
