body {
    display: flex;
    flex-direction: column;
}

body, div, p, h1, h2, h3, h4 input, button {
    margin: 0px;
    padding: 0px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

body {
    background-color: #EBECF0;
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
}
.text {
    color: #7a7c83;
}

a {
    color: #61677C;
}
a:disabled {
    color: #BABECC;
}

.container {
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    border-radius: 16px;
    padding: 16px;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}
button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
}

input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}
input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

button {
    color: #61677C;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    display: flex;
}
button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
.all-width {
    flex: 1;
}

.center {
    align-items: center;
    justify-content: center;
}
span.icon {
    display: block;
    width: 36px;
    height: 36px;
    mask-size: cover;
    -webkit-mask-size: cover;
}
button.icon {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button.with-text .icon {
    margin-right: 10px;
}
