@using Freedom.Auth.Web.Enums
<div class="container @ClassName">
    @ChildContent
</div>

@code{

    [Parameter]
    public OrientationType Orientation { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    private string ClassName => Orientation == OrientationType.Horizontal ? "row" : "column";

}
