.container {
  margin: 10% auto;
  width: 350px;

  .chapter {
    align-items: center;
    padding-bottom: 30px;

    .logo {
      width: 36px;
      height: 36px;
      margin-right: 10px;
    }

    .title {
      font-size: 24px;
    }
  }

  .nav-links {
    padding-top: 20px;
  }
}
