@using Freedom.Auth.Web.Interfaces

@inject IUserViewService _userAuthService
@inject NavigationManager _navigationManager

<h3 onclick="@LogoutHandle">Menu will be here</h3>

@ChildContent

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private async Task LogoutHandle()
    {
        await _userAuthService.LogoutAsync();
        _navigationManager.NavigateTo("/", true);
    }
}
