@using Microsoft.AspNetCore.Components.Web
@namespace Freedom.Auth.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;display=swap' rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet"/>
    <link href="css/icons.css" rel="stylesheet"/>
    <link href="Freedom.Auth.Web.styles.css" rel="stylesheet"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
@RenderBody()
<script src="_framework/blazor.server.js"></script>
</body>
</html>
